.button{
    background-color: white;
    color: grey;
    border-radius: 30%;
}
.lgButton{
    width: 200px;
    height: 100px;
    margin-top: 40%;
}
.smButton{
    width:75px;
    height: 25px;
}